<!-- Adapted from "Learning AngularJS"
  -- by Ken Williamson (O'Reilly, 2015)
  -->
	<ul style="text-align:left; list-style:none; background-color:#CCF; border-bottom:2px solid #FFF;">
		<br />
		<li><b>Add New User</b></li>
		<br />
		
		<form data-ng-controller="addUserController"
			  data-ng-submit="submit()">
			<br />
			<li>
				<label for="uname">Name: </label>
				<input id="uname" type="text" data-ng-model="name" placeholder="New User Name" required />
			</li>
			<li>
				<label for="umail">Email: </label>
				<input id="umail" type="text" data-ng-model="email" placeholder="New User Email" required />
			</li>
			<li><button id="f1" type="submit">Add User</button></li>
			<br />
		</form>
	</ul>
