
	<div data-ng-controller="selectSubscribersController">
		<select data-ng-model="model.selected"
				data-ng-options="user.name for user in model.users">
			<option value="">Select A User</option>
		</select>
		<h3>Subscribers</h3>
		<ul>
			<li data-ng-repeat="subscriber in subscribers = ( model.users | filter:{isSubscriber:true} )"
				style="text-align:left; list-style:none; background-color:#CCF; border-bottom:2px solid #FFF;">
				<a href="mailto:{{subscriber.email}}">{{subscriber.name}}</a>
				<button data-ng-click="removeSubscriber(subscriber)"
						style="float:right;">
					<span class="warning" style="text-align:right">
						X</span>
				</button>
			</li>
		</ul>
	</div>
