<!-- Adapted from "Learning AngularJS"
  -- by Ken Williamson (O'Reilly, 2015)
  -->
	<ul data-ng-controller="formController as formCtrl"
		style="text-align:left; list-style:none; background-color:#CCF; border-bottom:2px solid #FFF;">
		<li><b>Name:</b> {{user.name}}</li>
		<li><b>Email:</b> {{user.email}}</li>
		<li><b>ID:</b> {{user.id}}</li>

		<form>
			<li>
				<label for="uname">Change Name:</label>
				<input id="uname" name="uname" type="text" data-ng-model="uName" data-ng-placeholder="user.name" required />
			</li>
			<li>
				<label for="umail">Change Email:</label>
				<input id="umail" name="umail" type="text" data-ng-model="uMail" data-ng-placeholder="user.email" required />
			</li>
			<li><button type="submit" data-ng-click="user.change(uName, uMail)">Change User</button></li>
			<br />
		</form>
	</ul>
