<!-- Adapted from "Learning AngularJS"
  -- by Ken Williamson (O'Reilly, 2015)
  -->
	<ul style="text-align:left; list-style:none; background-color:#CCF; border-bottom:2px solid #FFF;">
		<li><b>Name:</b> {{user.name}}</li>
		<li><b>Email:</b> {{user.email}}</li>
		<li><b>ID:</b> {{user.id}}</li>

		<form>
			<li>
				<label for="uname">Change Name:</label>
				<input id="uname" type="text" data-ng-model="uName" required />
			</li>
			<li>
				<label for="umail">Change Email:</label>
				<input id="umail" type="text" data-ng-model="uMail" required />
			</li>
			<li><button data-ng-click="changeUser()">Change User</button></li>

		</form>
	</ul>
